{% extends "admin_base.html" %}
{% block title %}
    用户问题
{% endblock %}

{% block style %}
#user-table {
    float: left;
    width: 100px;
    height: 10px;
    text-align: center;
    }
#user-table1 {
    float: left;
    width: 180px;
    height: 10px;
    text-align: center;
    }
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
            <br/>
            <h3 style="text-align: center;">用户问题管理</h3>
            <div class="total-user">
                <!--jinja2的函数-->
                {% if message %}
                    <div style="text-align: left; color: dodgerblue">{{message}}</div>
                {% endif %}
                    <br/> <br/>
                    <span style="text-align: left; font-size: 23px;">问题信息详情</span>
                    <br/> <br/>
                    <div id="user-table">用户名</div>
                    <div id="user-table1">问题题目</div>
                    <div id="user-table1">问题内容</div>
                    <div id="user-table1">问题回复</div>
                    <br/>
                    {% for question in  questions%}
                    <br/>
                    <!--将用户信息放到一个form中-->
                    <form method="POST">
                        <input type="text" name="username" placeholder="{{ question.username }}" value="{{ question.username }}"  style="text-align: center;padding: 6px 0;width: 100px" readonly="true"/>
                        <input type="text" name="title" placeholder="{{ question.title }}" value="{{ question.title }}" style="text-align: center;padding: 6px 0;width: 180px" readonly="true"/>
                        <input type="text" name="content" placeholder="{{ question.question }}" value="{{ question.question }}" style="text-align: center;padding: 6px 0;width: 180px"/>
                        <input type="text" name="answer" placeholder="{{ question.answer }}" value="{{ question.answer }}" style="text-align: center;padding: 6px 0;width: 180px"/>
                        <a href="{{ url_for('api.del_question', user=question.username, title=question.title)}}" style="color: firebrick;background-color: deepskyblue;text-align:center;width: 60px;padding: 8px;border-radius: 3px; float: right" onclick="{if(confirm('确定删除吗?')){this.document.formname.submit();return true;}return false;}">删除</a>
                        <div class="form-group" style="text-align: right; float: right;margin: 0px 10px;">
                            <button class="btn btn-primary" style="background-color: deepskyblue">修改</button>
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
