{% extends "admin_base.html" %}
{% block title %}
    信息可视化
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
            <br/>
            <h3 style="text-align: center;">信息可视化</h3>
            <h5 style="text-align: left">词云统计</h5>
            <img id="visual_pos" style="width: 600px; height: 600px;left: 20%;position: relative;"/>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}

{% block script %}
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            method : 'get',
            url : '/api/GetVisual',
            success : function(res) {
                {#url = res.data;#}
                {#console.log(typeof res)#}
                {#var obj=document.getElementById("test");#}
                {#obj.innerHTML = '<img src="' + res + '">';#}
                $("#visual_pos").attr("src",res);
                {#var tab = '<img src="' + res + '"/>'#}
                {#$("#img1").append(tab)#}
            },
            error: function(e){
                console.log(e);
            },
        })
    </script>
{% endblock %}