{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
            <h1 style="text-align: center;">基于知识图谱的医疗健康问答系统</h1>
            <h3>研究背景和意义</h3>
            <p>
                &emsp;&emsp;随着人工智能的发展，自动问答系统逐渐成为人和机器沟通的新模式，它可以在理解用户输入的问句后，针对用户意图返回精准的问句答案。最初，问答系统
                的答案数据通常包含网络上的文档、各类论坛网站数据等没有统一结构的文本型数据。知识工程的发展使得这些海量的数据经过网络爬虫及信息抽取、数据清洗、数
                据结构化、知识融合的方式被整理成互相关联的结构化数据，即知识图谱，这一图形化的数据形式更利于人们对数据的组织、管理和应用。基于知识图谱的医疗问答
                系统就是将知识图谱作为数据来源的问答系统，在精准化问答服务中，作为数据支撑的知识图谱起着关键作用。
            </p>
            <p>
                &emsp;&emsp;现如今，知识图谱作为一种基础数据服务已经在越开越多的专业领域中被广泛应用，为各类上层智能化场景提供基础的数据支撑，而随着医疗领域数字化进程的
                深入推进，市面上的各类信息系统孕育了数以亿计的医疗信息，因此，如何将这些巨量的信息收集、清洗、存储起来，进而进行有效的利用成为亟待解决的问题，这
                同时也说明在医疗这一领域，知识图谱的构建和智能化应用有着巨大的发展空间。
            </p>
            <p>
                &emsp;&emsp;同时，伴随着我国人民群众生活水平的普遍提高，普通民众也对更加良好的医疗健康服务提出了越来越高的需求，例如期望了解更多的医学常识，关注自身健康
                进而更好地养生，或足不出户就能便捷地得到诊疗等。但我国现有的医疗健康服务体系还处于在建设状态，无法满足上文提到的便捷医疗服务。随着人工智能领域的
                不断发展，这种需求的实现成为可能，我国政府也陆续出台了建设智慧医疗服务的文件及方针。为响应国家建设智慧医疗的要求本文将以临床医学领域的智能问答系
                统为研究的切入点，实现系统准确理解用户输入的医疗问题，并通过查询专业医疗知识图谱对用户问题给出诊疗和康复建议的功能。然而，设计并实现一
                个基于知识图谱的医疗问答系统还有一些问题和挑战.
            </p>
            <h3>本系统主要功能</h3>
            <p>
                &emsp;&emsp;本系统主要包含两个模块，一个是本文所涉及的问答系统，另一个是基于ChatGPT的问答系统。
                &emsp;&emsp;本文所涉及的问答系统主要包含以下三个部分：医疗实体识别、医疗实体规范和和用户问句意图识别，分别基于BiLSTM-CRF模型、ESIM模型和
                BERT-TextCNN-CRF模型构建而成，并分别在自建数据集和所调研的开源数据集上进行训练和优化，具体内容详见论文。
                &emsp;&emsp;本文所涉及的问答系统能实现基于疾病有关的12种属性及关系的问答，并基于任务型对话和简单多伦对话的思想，设计和实现了问答系统中的对话管理模块。
            </p>
            <p>
                &emsp;&emsp;基于ChatGPT的问答系统使用了openai的API接口，并利用了相关的Prompt进行了垂直领域应用下的调节。
            </p>
            <h3>使用方法</h3>
            <p>
                &emsp;&emsp;输入问题回车即可，暂无详细使用说明。
            </p>
            <h3>版本说明</h3>
            <p>
                &emsp;&emsp;本次版本为第二版V2.0，上个版本为V1.1，详细版本说明暂无。
            </p>
            <h3>本科期间成果</h3>
            <p>
                <a href="http://140.210.192.61:7860/">Image Caption</a>
                <a>： 图片描述</a>
            </p>
            <p>
                <a href="http://140.210.192.61:7861/">Visual Question Answering</a>
                <a>： 视觉问答</a>
            </p>

        </div>
        <div class="col"></div>
    </div>
{% endblock %}