<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/css/style.css">
    <title>登录</title>
</head>
<body>
    <div>
    <h1>用户登录</h1>
    <!--将登陆信息放到一个form中-->
    <form method="POST">
        <label for="exampleInputUser">用户名</label>
        <input type="text" name="username" placeholder="请输入用户名" />
        <br/> <br/>
        <label for="exampleInputUser">密码</label>
        <input type="password" name="password" placeholder="请输入密码（小于20位）" size="18"/>
        <br/> <br/>
        <label for="exampleInputUser">验证码</label>
        <input type="captcha" name="captcha" placeholder="请输入验证码" size="7"/>
        <img id="captcha_pos"/>
        <br/> <br/>
         <!--jinja2的函数-->
        {% if message %} {{message}} {% endif %}
        <br/> <br/>
        <input type="submit" value="登录" />
        <input type="reset" value="重置" />
        <!--跳转到register的页面-->
        <a href="{{ url_for('auth.user_register') }}">注册</a>
    </form>
    </div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            method : 'get',
            url : '/api/GetCaptcha',
            success : function(res) {
                {#url = res.data;#}
                {#console.log(typeof res)#}
                {#var obj=document.getElementById("test");#}
                {#obj.innerHTML = '<img src="' + res + '">';#}
                $("#captcha_pos").attr("src",res);
                {#var tab = '<img src="' + res + '"/>'#}
                {#$("#img1").append(tab)#}
            },
            error: function(e){
                console.log(e);
            },
        })
        window.onload = function (){
            //获取图片对象
            var img = document.getElementById("captcha_pos");
            img.onclick = function () {
                $.ajax({
                    method : 'get',
                    url : '/api/GetCaptcha',
                    success : function(res) {
                        $("#captcha_pos").attr("src",res);
                    },
                    error: function(e){
                        console.log(e);
                    },
                })
            }
        }
    </script>
</body>
</html>

