{% extends "base.html" %}
{% block title %}
    个人信息
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
            <br/>
            <h3 style="text-align: left;">个人信息</h3>
            <!--将用户信息放到一个form中-->
            <form method="POST">
                <br/>
                <label for="exampleInputUser">用户名</label>
                <input type="text" name="username" placeholder={{ user }} disabled/>
                <br/> <br/>
                <label for="exampleInputUser">密&emsp;码</label>
                <input type="password" name="password" placeholder="********" disabled/>
            </form>
            <div class="total-question">
                {% for question in questions %}
                    <br/> <br/>
                    <h3 style="text-align: left;">问题解答</h3>
                    <br/>
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputTitle">问题</label>
                            <input type="text" name="title" class="form-control" placeholder={{ question[0] }} disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputContent">问题描述</label>
                            <textarea name="content" class="form-control" rows="6" placeholder={{ question[1] }} disabled></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleAnswer">问题回复</label>
                            {% if question[2] %}
                            <textarea name="answer" class="form-control" rows="3" placeholder={{ question[2] }} disabled></textarea>
                            {% else %}
                            <textarea name="answer" class="form-control" rows="1" placeholder="所提问题暂未回复" disabled></textarea>
                            {% endif %}
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
    </div>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script>
        const msgerChat = get(".total-question");
        TITLE = "";
        QUESTION = "";
        ANSWER = "";

        // get all questions
        $.ajax({
            method : 'get',
            url : '/api/GetUserQuestion',
            success : function(res) {
               QUESTION = res;
            },
            error: function(e){
                console.log(e);
            },
        });

        {#window.onload = load_question;#}
        {#function load_question() { 　　#}
        {#    appendMessage(TITLE, QUESTION, ANSWER);}#}
        function appendMessage(title, question, answer) {
      //   Simple solution for small apps
      const msgHTML = `
<form method="post">
    <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder=${title} disabled>
    </div>
    <div class="form-group">
        <textarea name="content" class="form-control" rows="10" placeholder=${question} disabled></textarea>
    </div>
    <div class="form-group">
        <textarea name="anser" class="form-control" rows="3" placeholder=${answer} disabled></textarea>
    </div>
</form>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    </script>
{% endblock %}